.header {
    width: 100%;
    min-height: 6rem;
    border-bottom: 2px solid rgba($grey, 0.3);

    display: flex;
    align-items: center;
    padding: 1rem 2rem;

    font-size: 1.8rem;
    font-weight: 600;

    .profile {
        margin-left: auto;
        display: flex;
        align-items: center;
        background-color: rgba($primary-light, 0.3);
        padding: 0.8rem 1.2rem;
        border-radius: 10px;

        &-img-wrapper {
            border-radius: 50%;
            background-color: $primary-light;
            padding: 0.7rem;
            color: rgba($text, 0.9);
        }

        &-creds {
            margin-left: 1rem;

            .title {
                font-size: 1.1rem;
            }
            .role {
                font-size: 1rem;
                color: $text-light;
            }
        }
    }
}