.patient-details {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: stretch;

  .panel {
    width: 50%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .top {
    max-width: 100%;
    background-color: rgba($primary-light, 0.8);
    padding: 1rem 1.5rem;
    border-radius: 10px;

    display: flex;
    flex: 0 1 auto;
    align-items: stretch;

    img {
      width: 10rem;
      border-radius: 10px;
      margin-right: 2rem;
    }

    .meta {
      max-width: 30%;
      padding: 1rem 2rem 1rem 0;
      border-right: 2px solid rgba($grey, 0.5);

      .name {
        font-size: 1.8rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
      }

      .secondary {
        font-size: 1.1rem;
        color: rgba($text, 0.8);
      }

      .address,
      .doc {
        margin-top: 1rem;
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.5rem;
        }
      }
    }

    .contacts {
      padding: 1rem 0 1rem 2rem;
      min-height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      font-size: 1.1rem;
    }
  }

  .appointment {
    min-height: calc(100vh - 9rem);
    background-color: rgba($primary-light, 0.8);
    border-radius: 10px;
  }

  .tests {
    margin-top: 2rem;
    padding: 0 1.5rem;
    flex: 1 1 auto;
    background-color: rgba($primary-light, 0.8);
    border-radius: 10px;
  }

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 1rem 0;
    border-bottom: 2px solid rgba($grey, 0.5);
  }

  .title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  }

  .add-btn {
    width: 6rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba($primary, 0.5);
    cursor: pointer;
  }

  .discharge-btn {
    width: 8rem;
    outline: none;
    border: none;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba($primary, 0.5);
    cursor: pointer;
  }
}

.patient-details.physician-details {
  .top {
    .meta {
      max-width: 100%;
    }
  }
}
