.procedure-details {
  background-color: rgba($primary, 0.5);
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  border-radius: 10px;

  .row {
    display: flex;

    div {
      width: 50%;
    }
  }

  .info {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 0.8rem;

    svg {
      margin-right: 0.8rem;
    }
  }

  .date {
    color: rgba($text, 0.75);
  }

  .result-btn {
    width: 8rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba($white, 0.5);
    cursor: pointer;
  }
}
