$swatch_1: #edf0f1;
$swatch_2: #afdada;
$swatch_3: #cbb2b4;
$swatch_4: #9ba4ab;
$swatch_5: #7a6978;
$swatch_6: #414c57;
$swatch_7: #4fa8aa;
$swatch_8: #0e706d;


$white: $swatch_1;
$grey: $swatch_4;
$black: $swatch_6;


$background: $swatch_1;

$text: $swatch_6;
$text-light: $swatch_4;

$primary: $swatch_7;
$primary-light: $swatch_2;
$primary-dark: $swatch_8;

$secondary: $swatch_5;
$secondary-light: $swatch_3;